{% extends 'base.html.twig' %}

{% block title %}Registrate{% endblock %}

{% block body %}
<style>
    { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    { background: ##0000; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>REGISTRO DE USUARIO 📋</h1>
    <center>
    <div class="container bg-primary">
    <div class="mb-3">
      <label for="staticEmail" class="col-sm-2 col-form-label">
    {{form(formulario)}}
    <br>
    <a href = type="button" class="btn btn-danger" role="button">Cancelar</a>
    <div>
    </div>
    </div>
    </div>
    </center>
</div>
{% endblock %}
