{% extends 'base.html.twig' %}

{% block title %}Edit Citas{% endblock %}

{% block body %}
    <h1>Edit Citas</h1>

    {{ include('paciente_dashboard/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_paciente_dashboard_index') }}">Regresar</a>

    {{ include('paciente_dashboard/_delete_form.html.twig') }}
{% endblock %}
