{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('medico/_form.html.twig') }}

    <a href="{{ path('app_medico_index') }}">Regresar a la lista</a>
{% endblock %}
