{% extends 'base.html.twig' %}

{% block title %}Edit Medicos{% endblock %}

{% block body %}
    <h1>Edit Medicos</h1>

    {{ include('medicos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_medicos_index') }}">back to list</a>

    {{ include('medicos/_delete_form.html.twig') }}
{% endblock %}
