{% extends 'base.html.twig' %}

{% block title %}Editar Cursos{% endblock %}

{% block body %}
<body style="background-color:#C8C5CA;" >
<center>
    <h1>Editar Cursos ✍️</h1>
    <div class="container p-3 my-3 border" style="background-color:#E8E3F9;">
    <div class="mb-3">
      <label for="staticEmail" class="col-sm-2 col-form-label">
<table>
    {{ include('capacitador_dash_board/_form.html.twig', {'button_label': 'Guardar'}) }}<br><br>
    <a href = "{{path('app_capacitador_dash_board_index')}}" class="btn btn-info" role="button">Regresar</a>
<br>
<br>
    {{ include('capacitador_dash_board/_delete_form.html.twig') }}
    </table>
</center>
</body>
{% endblock %}
