{% extends 'base.html.twig' %}

{% block title %}Menú{% endblock %}

{% block body %}
    <h1>Menú</h1>
        <nav>
        <ul>
            <li><a href="{{ path('app_registrar_usuario_extern_index') }}">Inicio</a></li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        </nav>

    