{% extends 'base.html.twig' %}

{% block title %}Edit Publicaciones{% endblock %}

{% block body %}
    <h1>Edit Publicaciones</h1>

    {{ include('trabajador_dash_board/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a href="{{ path('app_trabajador_dash_board_index') }}"class="btn btn-info" role="button">Regresar</a>
{% endblock %}
