{% extends 'base.html.twig' %}

{% block title %}Citas Paciente{% endblock %}

{% block body %}
    <h1>Editar Cita</h1>

    {{ include('medico_dashboard/_form.html.twig', {'button_label': 'Finalizar'}) }}

    <a href="{{ path('app_medico_dashboard_index') }}">Regresar</a>

{% endblock %}
