{% extends 'base.html.twig' %}

{% block title %}Nueva Cita{% endblock %}

{% block body %}
    <h1>Generar Nueva Cita</h1>

    {{ include('medico_dashboard/_form.html.twig') }}

    <a href="{{ path('app_medico_dashboard_index') }}">Regresar</a>
{% endblock %}
