{% extends 'base.html.twig' %}

{% block title %}Edit Citas{% endblock %}

{% block body %}
    <h1>Edit Citas</h1>

    {{ include('paciente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_paciente_index') }}">back to list</a>

    {{ include('paciente/_delete_form.html.twig') }}
{% endblock %}
