{% extends 'base.html.twig' %}

{% block title %}New Citas{% endblock %}

{% block body %}
    <h1>Create new Citas</h1>

    {{ include('paciente/_form.html.twig') }}

    <a href="{{ path('app_paciente_index') }}">back to list</a>
{% endblock %}
