{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('registrar_usuario_extern/_form.html.twig') }}

    <a href="{{ path('app_registrar_usuario_extern_index') }}">back to list</a>
{% endblock %}
