{% extends 'base.html.twig' %}

{% block title %}New Publicaciones{% endblock %}

{% block body %}
    <h1>Create new Publicaciones</h1>

    {{ include('usuario/_form.html.twig') }}

    <a href="{{ path('app_usuario_index') }}">back to list</a>
{% endblock %}
