<form method="post" action="{{ path('app_usuario_comentarios_delete', {'id': comentario.id}) }}" onsubmit="return confirm('Are you sure you want to this this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comentario.id) }}">
    <button class="btn">Delete</button>
</form>
