{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('registro_externo/_form.html.twig') }}

    <a href="{{ path('app_registro_externo_index') }}">back to list</a>
{% endblock %}
