{% extends 'base.html.twig' %}

{% block title %}New Comentarios{% endblock %}

{% block body %}
    <center><h2>Ingrese nuevo comentario</h2>

    {{ include('comentarios/_form.html.twig') }}

    <a href="{{ path('app_publicaciones_index') }}">Comentar otra publicación</a>
    <p>
    <a href="{{ path('app_publicaciones_new') }}">Hacer una nueva Publicación</a>
    <p>

    <a href="{{ path('app_logout') }}">Cerrar sesión</a>

{% endblock %}
