{% extends 'base.html.twig' %}

{% block title %}Registro Cita{% endblock %}

{% block body %}
<center>
<h1 id="myheading"
    style="border-bottom:2px solid orangered;padding-bottom:5px;">Registro</h1>

<div style="background-color: powderblue; height: 100px; width: 450px; text-align: center;">
    <div class="mb-3">
    <label style="font-size: 20px; font-weight: bold;">
     
    {{form(formulario)}}
    

{% endblock %}