{% extends 'base.html.twig' %}

{% block title %}Registro Usuario{% endblock %}

{% block body %}
<body style="background-color: rgb(254 226 226);" >
<center>
<h1 id="myheading"
    style="border-bottom:2px solid orangered;padding-bottom:5px;">Registro</h1>

<div style="background-color: powderblue; height: 200px; width: 450px; text-align: center;">
    <div class="mb-3">
    {{form(formulario)}}
</body>
{% endblock %}
