{% extends 'base.html.twig' %}

{% block title %}New Publicaciones{% endblock %}

{% block body %}
    <center><h1>Nueva publicación</h1>

    {{ include('publicaciones/_form.html.twig') }}

    <a href="{{ path('app_publicaciones_index') }}">Ir a la lista de publicaciones</a>
    <p>
    <a href="{{ path('app_logout') }}">Cerrar sesión</a>
{% endblock %}
