<form method="post" action="{{ path('app_admin_publicaciones_delete', {'id': publicacione.id}) }}" onsubmit="return confirm('Are you sure you want to this this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publicacione.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
