{% extends 'base.html.twig' %}

{% block title %}Menú Administrador{% endblock %}

{% block body %}
    <h1>Menú</h1>

   

    <a href="{{ path('app_categoria_index') }}">Categoria</a>
    <a href="{{ path('app_registration_user_new') }}">Registrar Usuario</a>
{% endblock %}
