{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 id="myheading"
    style="border-bottom:2px solid orangered;padding-bottom:5px;">Editar</h1>

    {{ include('medico/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-lg btn-primary" href="{{ path('app_medico_index') }}">REgreesar a la lista</a>

    {{ include('medico/_delete_form.html.twig') }}
{% endblock %}
