{% extends 'base.html.twig' %}

{% block title %}Citas Paciente{% endblock %}

{% block body %}
    <h1>Generar nueva cita</h1>

    {{ include('paciente/_form.html.twig') }}

    <a href="{{ path('app_paciente_dashboard_index') }}">Regresar</a>
{% endblock %}